body {
  font-size: 14px;
  color: #3d3d3d; }

.container,
.footer {
  max-width: 480px;
  margin: 0 50px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__logo {
    display: block;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    background-image: url("./img/sprites/sprite.png");
    background-position: -278px 0px;
    width: 120px;
    height: 120px;
    margin: 20px 0; }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e5e5e5; }
  .header__nav-link {
    display: inline-block;
    color: #40acae;
    text-decoration: none;
    margin: 20px 8px; }
    .header__nav-link:hover {
      color: #ec665a; }
  .header__social {
    display: none; }

.maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__nav {
  display: none; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 280px;
  background-image: url("img/pic/0232_foodsense.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px; }
  .banner__title, .banner__description {
    padding: 0 10px;
    height: 35px;
    line-height: 35px; }
  .banner__title {
    margin-top: auto;
    background-color: #f0e8df;
    opacity: .8; }
  .banner__description {
    background-color: #3d3d3d;
    color: #fff;
    font-size: 12px; }

.mailing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px dashed #e5e5e5;
  border-top: 1px dashed #e5e5e5;
  padding: 20px 0; }
  .mailing-list__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: 70px; }
    .mailing-list__description:before {
      position: absolute;
      left: -55px;
      content: '';
      display: inline-block;
      background-image: url("./img/sprites/sprite.png");
      background-position: -438px -101px;
      width: 32px;
      height: 32px; }
  .mailing-list__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px; }
  .mailing-list__btn {
    border-radius: 3px; }

.publications-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .publications-list__item-image {
    border: 1px solid #e5e5e5;
    padding: 10px; }
  .publications-list__item-pic {
    width: 100%; }
  .publications-list__item-title {
    margin-top: 15px;
    font-size: 18px; }
  .publications-list__item-link {
    text-decoration: none;
    color: #40acae; }
    .publications-list__item-link:hover {
      color: #ec665a; }
  .publications-list__item-text {
    margin: 20px 0; }
  .publications-list__item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
  .publications-list__item-description-date {
    opacity: .6; }
  .publications-list__item-description-more {
    margin-left: 5px; }
  .publications-list__item-description-link {
    color: #40acae;
    text-decoration: none;
    border-bottom: 1px dashed #e5e5e5; }
    .publications-list__item-description-link:hover {
      color: #ec665a; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
  font-size: 12px; }
  .footer__corporate-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__corporate-item {
    border-left: 1px solid #e5e5e5; }
    .footer__corporate-item:first-child {
      border: none; }
  .footer__corporate-link {
    color: #40acae;
    text-decoration: none;
    margin: 0 2px;
    padding: 0 2px; }
    .footer__corporate-link:hover {
      color: #ec665a; }
  .footer__corporate-copyright {
    margin-top: 5px;
    text-align: center;
    opacity: .7; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__social-item {
    margin: 0 5px; }
  .footer__social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: .4; }
    .footer__social-link--twitter {
      background-image: url("./img/sprites/sprite.png");
      background-position: 0px -363px;
      width: 32px;
      height: 22px; }
    .footer__social-link--facebook {
      background-image: url("./img/sprites/sprite.png");
      background-position: -375px -160px;
      width: 21px;
      height: 31px; }
    .footer__social-link--rss {
      background-image: url("./img/sprites/sprite.png");
      background-position: -320px -278px;
      width: 27px;
      height: 27px; }

@media screen and (min-width: 481px) {
  .container,
  .footer {
    max-width: 768px;
    margin: 0 0; }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__logo {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-right: 10px; }
    .header__nav {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .header__nav-list {
      border: none; }
  .mailing-list__form {
    width: 100%; }
  .mailing-list__email {
    width: 100%; }
  .publications-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .publications-list__item {
      width: 50%; } }

/*# sourceMappingURL=style.css.map */
