// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$food-sense-f-name: 'food-sense-f';
$food-sense-f-x: 0px;
$food-sense-f-y: 0px;
$food-sense-f-offset-x: 0px;
$food-sense-f-offset-y: 0px;
$food-sense-f-width: 238px;
$food-sense-f-height: 238px;
$food-sense-f-total-width: 478px;
$food-sense-f-total-height: 385px;
$food-sense-f-image: 'sprite.png';
$food-sense-f: (0px, 0px, 0px, 0px, 238px, 238px, 478px, 385px, 'sprite.png', 'food-sense-f', );
$food-sense-m-name: 'food-sense-m';
$food-sense-m-x: 278px;
$food-sense-m-y: 0px;
$food-sense-m-offset-x: -278px;
$food-sense-m-offset-y: 0px;
$food-sense-m-width: 120px;
$food-sense-m-height: 120px;
$food-sense-m-total-width: 478px;
$food-sense-m-total-height: 385px;
$food-sense-m-image: 'sprite.png';
$food-sense-m: (278px, 0px, -278px, 0px, 120px, 120px, 478px, 385px, 'sprite.png', 'food-sense-m', );
$icon-facebook-16-name: 'icon-facebook-16';
$icon-facebook-16-x: 72px;
$icon-facebook-16-y: 363px;
$icon-facebook-16-offset-x: -72px;
$icon-facebook-16-offset-y: -363px;
$icon-facebook-16-width: 16px;
$icon-facebook-16-height: 16px;
$icon-facebook-16-total-width: 478px;
$icon-facebook-16-total-height: 385px;
$icon-facebook-16-image: 'sprite.png';
$icon-facebook-16: (72px, 363px, -72px, -363px, 16px, 16px, 478px, 385px, 'sprite.png', 'icon-facebook-16', );
$icon-facebook-f-name: 'icon-facebook-f';
$icon-facebook-f-x: 438px;
$icon-facebook-f-y: 0px;
$icon-facebook-f-offset-x: -438px;
$icon-facebook-f-offset-y: 0px;
$icon-facebook-f-width: 40px;
$icon-facebook-f-height: 61px;
$icon-facebook-f-total-width: 478px;
$icon-facebook-f-total-height: 385px;
$icon-facebook-f-image: 'sprite.png';
$icon-facebook-f: (438px, 0px, -438px, 0px, 40px, 61px, 478px, 385px, 'sprite.png', 'icon-facebook-f', );
$icon-facebook-m-name: 'icon-facebook-m';
$icon-facebook-m-x: 375px;
$icon-facebook-m-y: 160px;
$icon-facebook-m-offset-x: -375px;
$icon-facebook-m-offset-y: -160px;
$icon-facebook-m-width: 21px;
$icon-facebook-m-height: 31px;
$icon-facebook-m-total-width: 478px;
$icon-facebook-m-total-height: 385px;
$icon-facebook-m-image: 'sprite.png';
$icon-facebook-m: (375px, 160px, -375px, -160px, 21px, 31px, 478px, 385px, 'sprite.png', 'icon-facebook-m', );
$icon-mailinglist-32-name: 'icon-mailinglist-32';
$icon-mailinglist-32-x: 438px;
$icon-mailinglist-32-y: 101px;
$icon-mailinglist-32-offset-x: -438px;
$icon-mailinglist-32-offset-y: -101px;
$icon-mailinglist-32-width: 32px;
$icon-mailinglist-32-height: 32px;
$icon-mailinglist-32-total-width: 478px;
$icon-mailinglist-32-total-height: 385px;
$icon-mailinglist-32-image: 'sprite.png';
$icon-mailinglist-32: (438px, 101px, -438px, -101px, 32px, 32px, 478px, 385px, 'sprite.png', 'icon-mailinglist-32', );
$icon-rss-f-name: 'icon-rss-f';
$icon-rss-f-x: 278px;
$icon-rss-f-y: 160px;
$icon-rss-f-offset-x: -278px;
$icon-rss-f-offset-y: -160px;
$icon-rss-f-width: 57px;
$icon-rss-f-height: 55px;
$icon-rss-f-total-width: 478px;
$icon-rss-f-total-height: 385px;
$icon-rss-f-image: 'sprite.png';
$icon-rss-f: (278px, 160px, -278px, -160px, 57px, 55px, 478px, 385px, 'sprite.png', 'icon-rss-f', );
$icon-rss-m-name: 'icon-rss-m';
$icon-rss-m-x: 320px;
$icon-rss-m-y: 278px;
$icon-rss-m-offset-x: -320px;
$icon-rss-m-offset-y: -278px;
$icon-rss-m-width: 27px;
$icon-rss-m-height: 27px;
$icon-rss-m-total-width: 478px;
$icon-rss-m-total-height: 385px;
$icon-rss-m-image: 'sprite.png';
$icon-rss-m: (320px, 278px, -320px, -278px, 27px, 27px, 478px, 385px, 'sprite.png', 'icon-rss-m', );
$icon-twitter-16-name: 'icon-twitter-16';
$icon-twitter-16-x: 128px;
$icon-twitter-16-y: 363px;
$icon-twitter-16-offset-x: -128px;
$icon-twitter-16-offset-y: -363px;
$icon-twitter-16-width: 16px;
$icon-twitter-16-height: 16px;
$icon-twitter-16-total-width: 478px;
$icon-twitter-16-total-height: 385px;
$icon-twitter-16-image: 'sprite.png';
$icon-twitter-16: (128px, 363px, -128px, -363px, 16px, 16px, 478px, 385px, 'sprite.png', 'icon-twitter-16', );
$icon-twitter-f-name: 'icon-twitter-f';
$icon-twitter-f-x: 0px;
$icon-twitter-f-y: 278px;
$icon-twitter-f-offset-x: 0px;
$icon-twitter-f-offset-y: -278px;
$icon-twitter-f-width: 64px;
$icon-twitter-f-height: 45px;
$icon-twitter-f-total-width: 478px;
$icon-twitter-f-total-height: 385px;
$icon-twitter-f-image: 'sprite.png';
$icon-twitter-f: (0px, 278px, 0px, -278px, 64px, 45px, 478px, 385px, 'sprite.png', 'icon-twitter-f', );
$icon-twitter-m-name: 'icon-twitter-m';
$icon-twitter-m-x: 0px;
$icon-twitter-m-y: 363px;
$icon-twitter-m-offset-x: 0px;
$icon-twitter-m-offset-y: -363px;
$icon-twitter-m-width: 32px;
$icon-twitter-m-height: 22px;
$icon-twitter-m-total-width: 478px;
$icon-twitter-m-total-height: 385px;
$icon-twitter-m-image: 'sprite.png';
$icon-twitter-m: (0px, 363px, 0px, -363px, 32px, 22px, 478px, 385px, 'sprite.png', 'icon-twitter-m', );
$nav-about-name: 'nav-about';
$nav-about-x: 438px;
$nav-about-y: 173px;
$nav-about-offset-x: -438px;
$nav-about-offset-y: -173px;
$nav-about-width: 32px;
$nav-about-height: 32px;
$nav-about-total-width: 478px;
$nav-about-total-height: 385px;
$nav-about-image: 'sprite.png';
$nav-about: (438px, 173px, -438px, -173px, 32px, 32px, 478px, 385px, 'sprite.png', 'nav-about', );
$nav-alist-name: 'nav-alist';
$nav-alist-x: 438px;
$nav-alist-y: 245px;
$nav-alist-offset-x: -438px;
$nav-alist-offset-y: -245px;
$nav-alist-width: 32px;
$nav-alist-height: 32px;
$nav-alist-total-width: 478px;
$nav-alist-total-height: 385px;
$nav-alist-image: 'sprite.png';
$nav-alist: (438px, 245px, -438px, -245px, 32px, 32px, 478px, 385px, 'sprite.png', 'nav-alist', );
$nav-blog-name: 'nav-blog';
$nav-blog-x: 104px;
$nav-blog-y: 278px;
$nav-blog-offset-x: -104px;
$nav-blog-offset-y: -278px;
$nav-blog-width: 32px;
$nav-blog-height: 32px;
$nav-blog-total-width: 478px;
$nav-blog-total-height: 385px;
$nav-blog-image: 'sprite.png';
$nav-blog: (104px, 278px, -104px, -278px, 32px, 32px, 478px, 385px, 'sprite.png', 'nav-blog', );
$nav-contribute-name: 'nav-contribute';
$nav-contribute-x: 176px;
$nav-contribute-y: 278px;
$nav-contribute-offset-x: -176px;
$nav-contribute-offset-y: -278px;
$nav-contribute-width: 32px;
$nav-contribute-height: 32px;
$nav-contribute-total-width: 478px;
$nav-contribute-total-height: 385px;
$nav-contribute-image: 'sprite.png';
$nav-contribute: (176px, 278px, -176px, -278px, 32px, 32px, 478px, 385px, 'sprite.png', 'nav-contribute', );
$nav-tastemakers-name: 'nav-tastemakers';
$nav-tastemakers-x: 248px;
$nav-tastemakers-y: 278px;
$nav-tastemakers-offset-x: -248px;
$nav-tastemakers-offset-y: -278px;
$nav-tastemakers-width: 32px;
$nav-tastemakers-height: 32px;
$nav-tastemakers-total-width: 478px;
$nav-tastemakers-total-height: 385px;
$nav-tastemakers-image: 'sprite.png';
$nav-tastemakers: (248px, 278px, -248px, -278px, 32px, 32px, 478px, 385px, 'sprite.png', 'nav-tastemakers', );
$spritesheet-width: 478px;
$spritesheet-height: 385px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($food-sense-f, $food-sense-m, $icon-facebook-16, $icon-facebook-f, $icon-facebook-m, $icon-mailinglist-32, $icon-rss-f, $icon-rss-m, $icon-twitter-16, $icon-twitter-f, $icon-twitter-m, $nav-about, $nav-alist, $nav-blog, $nav-contribute, $nav-tastemakers, );
$spritesheet: (478px, 385px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('./img/sprites/#{$sprite-image}');
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
